<div class="t3g-content" id="Controller" ng-controller="HomeController">
    <form id="QueryForm" class="query" data-nostar ng-show="QueryShow">
        <div class="row content-row">
            <div class="page-content">
                <div class="condition-search-content">
                    <div class="condition-search">
                        <div class="col-sm-6 col-xs-6 text-right">
                            <input type="button" class="btn btn-default" value="查詢" ng-click="QueryAll()" />
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            進階查詢
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="condition-item item-clear">
                                                    <span class="item-title">KeyValueName：</span>
                                                    <div class="item-content">
                                                        <input type="text" id="Reseller_No" class="form-control" ng-model="Query.KeyValueName" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="condition-item item-clear">
                                                    <span class="item-title">Text：</span>
                                                    <div class="item-content">
                                                        <input type="text" id="Reseller_Name" class="form-control" ng-model="Query.Text" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gridRegion">
        </div>
    </form>
    @{ Html.RenderPartial("_Maintain"); }
</div>
@section header
{
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/Home/HomeController.js?20200818_01"></script>
}